

.App{
    min-height: 100vh;
    display: flex;
    background-image: url("./background.jpg");  
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar{
    display: none;
  }

  ::-webkit-scrollbar-thumb{
background-color: rgba(136,136,136,0.281);
  }

  ::-webkit-scrollbar-thumb:hover{
    background:#555; 
      }

::-webkit-file-upload-button{
  
  background-color: #c7b7ec77;
  border-radius: 5px;
    color: #7553c5;
    border: none;
    box-shadow: #a855f7;
    margin-right: 12px;
    
}
  
  